.shell {
  display: grid;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  grid-template-areas: "app_bar" "app_content" "app_footer";
  grid-template-rows: min-content 1fr min-content;
}

.app_bar {
  grid-area: app_bar;
  z-index: 300;
}

.app_content {
  position: relative;
  grid-area: app_content;
  z-index: 100;
}

.app_footer {
  grid-area: app_footer;
  z-index: 200
}

.app_content, .app_footer {
  display: flex;
  align-items: center;
  justify-content: center;
}